<div class="fullfield">
  <div class="loginfields">
    <form #loginform ="ngForm"  >
      <div class="form-group" *ngIf = 'numbertext'>
        <mat-form-field appearance="outline" >
          <mat-label style="color: gray;" >Mobile Number</mat-label>
          <input  matInput type="tel"  name="email" [(ngModel)]="user.mobilenumber" required #username = "ngModel"
          [class.is-invalid] = "username.invalid&&username.touched" pattern="[0-9]{10}" maxlength="10" minlength="10"
          >
          <mat-icon matSuffix >sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
        <!-- <small class = "text-danger" [class.d-none]="username.valid||username.untouched " >Enter the valid username </small> -->
        <div *ngIf = "username.errors && (username.invalid && username.touched)">
            <small class="text-danger" *ngIf = "username.errors.required">Enter the username </small>
            <small class ="text-danger" *ngIf= "username.errors.pattern">Enter the valid user name </small>
        </div>
      </div>
      <br>
      <div  >
      <div id = "recaptcha-container"  [style.visibility]="visible" ></div>
    </div>
      <label  style="color: black;">{{captcahaerror}}</label>
      <br>
      <div class="form-group">
        <input class="form-control"  placeholder="Code" name="password" 
        [(ngModel)]="otpcode" *ngIf="verifytext" >
      </div>
      <div class="checkbox" >
        <label style="color: black;padding-left: 3%;" for="checkbox" >
        <input id="checkbox" type="checkbox" name="remember" style="color:black;border: 0%;
        outline: 0%;margin-top: 1%;
          ">
               Remember me</label>
      </div>
      <!-- <label style="color: black;">{{userid}}</label> -->
      <br>
      <button  type="submit" class="btn btn-info"  style="height: 13%;" (click)="captchaverfied()"  
       [disabled] = "loginform.invalid"*ngIf = 'numbertext' >Request Otp</button>
      <button  type="submit" class="btn btn-info"  style="width: 23%; height: 13%;"  *ngIf ="verifytext" 
        [disabled] = "submitbutton" (click)=" verifyLoginCode()" >Verify</button>
      <!-- <small class="float-right" (click)="gotoregistration()">New Users ? Click Here.</small> -->
      <a id="text/css" type="text" class="newuserclick" (click)="backtonumber()" *ngIf ="verifytext" style="margin-top: 10px;color: black;cursor:pointer;
      border: 0%;outline: 0px;float:right;font-size:70%;">Change Number ?</a>
    </form>

    
   
  </div>
  <div class="sociallogin">
  
    <div class="flex-container" style="width: 100%;height: 100%;position: relative;">
      <div class="row"  style="margin-left:5%;top: 25%;position: absolute;">
        <div class="login-wrapper" style="padding: 10%;">
          <button mat-raised-button type="button" class="large-button" (click)="authserivce.SigninWithGoogle()" 
           style="padding: 0%;outline: 0%;margin: 0%;color: white;background-color: white;width: fit-content;
           height: fit-content;outline: 0px !important;border: 0px !important; ">
            <span class="large-button__icon">
              <svg viewBox="0 0 366 372" style="padding: 15%;margin: 0%;color: white;width: 50px;height: 50px;" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M125.9 10.2c40.2-13.9 85.3-13.6 125.3 1.1 22.2 8.2 42.5 21 59.9 37.1-5.8 6.3-12.1 12.2-18.1 18.3l-34.2 34.2c-11.3-10.8-25.1-19-40.1-23.6-17.6-5.3-36.6-6.1-54.6-2.2-21 4.5-40.5 15.5-55.6 30.9-12.2 12.3-21.4 27.5-27 43.9-20.3-15.8-40.6-31.5-61-47.3 21.5-43 60.1-76.9 105.4-92.4z"
                  id="Shape" fill="#EA4335" />
                <path
                  d="M20.6 102.4c20.3 15.8 40.6 31.5 61 47.3-8 23.3-8 49.2 0 72.4-20.3 15.8-40.6 31.6-60.9 47.3C1.9 232.7-3.8 189.6 4.4 149.2c3.3-16.2 8.7-32 16.2-46.8z"
                  id="Shape" fill="#FBBC05" />
                <path
                  d="M361.7 151.1c5.8 32.7 4.5 66.8-4.7 98.8-8.5 29.3-24.6 56.5-47.1 77.2l-59.1-45.9c19.5-13.1 33.3-34.3 37.2-57.5H186.6c.1-24.2.1-48.4.1-72.6h175z"
                  id="Shape" fill="#4285F4" />
                <path
                  d="M81.4 222.2c7.8 22.9 22.8 43.2 42.6 57.1 12.4 8.7 26.6 14.9 41.4 17.9 14.6 3 29.7 2.6 44.4.1 14.6-2.6 28.7-7.9 41-16.2l59.1 45.9c-21.3 19.7-48 33.1-76.2 39.6-31.2 7.1-64.2 7.3-95.2-1-24.6-6.5-47.7-18.2-67.6-34.1-20.9-16.6-38.3-38-50.4-62 20.3-15.7 40.6-31.5 60.9-47.3z"
                  fill="#34A853" />
                </svg>
            </span>
          </button>
        </div>
        <div style="padding: 10%;">
          <button mat-raised-button type="button" (click)="authserivce.FacebookAuth()" style="outline: 0%;
          background-color: rgb(55, 55, 156);width: 50px;height: 50px;outline: 0px !important;border: 0px !important;align-items: center;" >
            <mat-icon style="width: fit-content;height: fit-content;align-self: center;margin-bottom: 25px;"  >facebook</mat-icon> 
         </button>
        </div>



      </div>
    </div>
 

  </div>  
</div>
