<router-outlet></router-outlet>
<!-- <div class = "fullscreen">
<div  >
<mat-card class = "mat-elevation-Z5">

<div class = "leftmiddlescreen" >
<div  >
    <img src="/assets/logofontchange.png" alt="Girl in a jacket" class="logoimage" >
    <br>
    <h1 style="margin-top:25%; margin-left: 30%;margin-right: 5%;padding-top: 5%;padding-left: 5%;padding-right: 5%;">Welcome All..!!</h1>
    <h3 style=" margin-left: 35%;margin-right: 5%;">(www.websiteurl.com)</h3>
    <p style=" margin-left: 5%;margin-right: 5%;padding: 5%;" >This is the content about the website what we are doing and what we are going to do here ..... what are all the benefit of using this website ...If you feel content, you're satisfied and happy. The content of a book, movie, or song is what it's about: the topic. This word has two main meanings. The first has to do with being pleased and satisfied (feeling content) or making someone else feel happy and at peace with things (contenting them).</p>
</div>
</div>
<div class ="rightmiddlescreen">
<div class = "signuplogin">
<a class = "signup"  [routerLink]="['registration']">SignUp/</a><a class="login" [routerLink]="['']">Login</a>
</div>
<div class= "routinglayouts"> 
<div  class="app">
<router-outlet></router-outlet>
</div>
</div>
</div>

</mat-card>
</div>

<div>
  
</div>

</div> -->
